#this project specific
anomaly-detection/PaDiM/0-preparation/bottle
anomaly-detection/PaDiM/1-training/result
anomaly-detection/PaDiM/2-inference/result
anomaly-detection/PaDiM/2-inference/source/train.pkl
image-classification/image-*
object-detection/yolov5-on-sagemaker/0-preparation/biaozhu/*
object-detection/yolov5-on-sagemaker/1-training/container/dockersource/
object-detection/yolov5-on-sagemaker/1-training/container/local_test/model/
object-detection/yolov5-on-sagemaker/1-training/container/local_test/input/data/training/cfg/data.yaml
object-detection/yolov5-on-sagemaker/1-training/container/local_test/input/data/training/images/*
object-detection/yolov5-on-sagemaker/1-training/container/local_test/input/data/training/labels/*
object-detection/yolov5-on-sagemaker/1-training/runs/*
object-detection/yolov5-on-sagemaker/1-training/model_data.txt
object-detection/yolov5-on-sagemaker/2-inference/source/yolov5s.pt
object-detection/yolov5-on-sagemaker/2-inference/result/*
object-detection/yolov5-on-sagemaker/2-inference/model/
hyperspectral/DeepHyperX/1-preparation/dataset/
hyperspectral/DeepHyperX/1-preparation/Datasets/
hyperspectral/DeepHyperX/2-training/result/
distributed/PyTorch/data/



venv/*
*/cdk.out/*


# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
#*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar
*.pth

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*


__pycache__/
*/__pycache__
/sample_data/*
*/dataset/*
/models/
*/models
/.idea/*
/logs/*
/classes/*
!.mvn/wrapper/maven-wrapper.jar
.DS_Store
.idea/



*Dataset/
*Datasets/
*checkpoints/
*checkpoint/

.DS_Store
### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

.ipynb_checkpoints/
.ipynb_checkpoints/*
.ipynb_checkpoints

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
*/target/*
*/target
/target/*
/target/
*/dataset
/sample_data/*

/raw-data/*
*/cdk.context.json
cdk-infra/cdk.context.json
/output/*
cdk.out*
*cdk.out*
build.sh

### NetBeans ###
/nbproject/private/
/build/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
.idea/
.idea/*

*/.env/
.env/*
*/.env/*

/cdk.out/
*/cdk.out/

*/temp/*
*/temp
/temp/*
/temp/*
/temp/
./temp/
cdk.context.json

*.zip
